.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 0 10px;
  margin-top: 1rem;
  background: #2a2a2a;
  /* background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(90, 92, 106, 1) 0%,
    rgba(32, 45, 58, 1) 81.3%
  ); */
  height: 400px;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer p {
  color: #fff;
  text-align: center;
}

.header-social-links {
  max-width: 200px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-around;
}

.header-social-links .icon {
  width: 3.5rem;
  margin: 0 1rem;
  margin-bottom: -2px;
  opacity: 0.8;
}

.header-social-links .icon:hover {
  opacity: 1;
}

.header-social-links #footer-email {
  margin-left: 1rem;
  text-align: center;
  padding: 0.5rem;
  height: 35px;
  font-size: 1.6rem;
  background-color: #cc3e3c;
  color: #fff;
  transition: 0.2s all ease;
}

.header-social-links #footer-email:hover {
  background-color: #fff;
  color: #000;
}

#build-footer {
  font-size: 1.4rem;
}
